    <script src="//unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script type="text/javascript" src="www/front_page/school/pct_regions_lowres_scenario_school.js"></script>
    <script type="text/javascript" src="www/front_page/commute/pct_regions_lowres_scenario_commute.js"></script>
    <script src="/www/front_page/map.js"></script>

    <link rel="stylesheet" href="/www/front_page/style.css" type="text/css" />
    <link rel="stylesheet" href="/www/front_page/map.css" type="text/css" />
    <link rel="stylesheet" href="//unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
