<nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <a href="/" class="navbar-left">
          <img src="/www/static/01_logos/pct-logo.png" alt="Propensity to Cycle Tool" style="height:60px"/>
        </a>
        <ul class="nav navbar-nav">
          <li style="margin-left:10px;">
            <a href="https://blog.pct.bike/" target="_blank">Blog</a>
          </li>
          <li style="margin-left:10px;">
            <a href="/manual.html">Manual + Reports</a>
          </li>
          <li style="margin-left:10px;">
            <a href="/about.html">About</a>
          </li>
        </ul>
      </div>
    </nav>
