@import url(http://fonts.googleapis.com/css?family=Inconsolata);
html {
  background: #eee;
}
body {
  margin: 30px;
  font-family: "Inconsolata", "DejaVu Sans Mono","Bitstream Vera Sans Mono", monospace;
  font-size: 1.2em;
  line-height: 1.2em;
}
article {
  display: block;
  min-width: 360px;
  max-width: 900px;
  width: 80%;
  margin: 2.5em auto 0 auto;
  border: 1px solid;
  border-color: #ddd #aaa #aaa #ddd;
  padding: 2em;
  background: #fff;
}
h1 { margin-top: 0; }
article p:first-of-type { margin-top: 1.6em; }
article p:last-child { margin-bottom: 0; }
h1 {
  font-weight:normal;
  display:inline;
  border-bottom:1px solid black;
  padding:0 0 3px 0;
  line-height: 36px;
}
a {
  color:#2844FA;
  text-decoration:none;
}
a:hover, a:focus { color:#1B29A4; }
a:active { color:#000; }
:-moz-any-link:focus {color:#000; border:0;}
::selection {background:#ccc;}
::-moz-selection {background:#ccc;}
@media all and (max-width: 500px) { article {padding:1em;} body {font-size:1em;} }
