.help-block  {
  font-size: 10px;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}

.rbox  {
  font-size: 10px;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input,
option {
  font-size: 11px;
}

select.form-control {
  font-size: 11px;
}

/* From http://codepen.io/thom-nic/pen/mHqKt?editors=110 */
$select-arrow: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-chevron-down-16.png");

/* only apply this to firefox: */
@-moz-document url-prefix() {

  /* Normally you can just apply this to all 'select's not just a classs selector */
  select.form-control {
    /* This removes the native down arrow: */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    /* Add a new down arrow, probably shouldn't hotlink: */
    background-image: $select-arrow;
    background-position: right 8px center;
    background-repeat: no-repeat;
  }
}
/* From http://codepen.io/thom-nic/pen/mHqKt?editors=110 end */

label {
  font-size: 12px;
}

.recalculating{
  opacity: 1.0;
}

#cite {
  position: relative;
  bottom: 25px;
  left: 120px;
  font-size: 12px;
}

body {
  max-width: unset !important;
}

#dft {
  margin-bottom: 10px;
}
