.help-block  {
  font-size: 10px;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.rbox  {
  font-size: 10px;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  font-size: 11px;
}

label {
  font-size: 12px;
}

.recalculating{
  opacity: 1.0;
}

#cite {
  position: absolute;
  bottom: 5px;
  left: 120px;
  font-size: 12px;
}
.leaflet-bottom .leaflet-control-scale{
  margin-bottom: 20px;
}
