html, body, .container-fluid, .tab-content, .tab-pane {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.navbar {
  margin-bottom: 0;
}
.help-block  {
  font-size: 10px;
}

.leaflet-top {
  position: relative;
}

.navbar-nav>li {
    float: left;
}

.outer {
  top: 41px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}

.rbox  {
  font-size: 10px;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input,
option {
  font-size: 11px;
}

select::-ms-expand {
  width:12px;
  border:none;
  background:#fff;
}

#map {
  position: inherit !important;
}

select.form-control {
  font-size: 11px;
}

select {
  border: 1px solid #999;
  border-radius: 8px;
  padding: 8px;
}

/* https://github.com/rstudio/leaflet/commit/49e6fe56762ce998ee57dd9e6179260c325f11b0 */
.legend br {
  clear: both;
}

/* only apply this to firefox: */
@-moz-document url-prefix() {
  /* Normally you can just apply this to all 'select's not just a classs selector */
  select.form-control {
    /* This removes the native down arrow: */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    /* Add a new down arrow, probably shouldn't hotlink: */
    background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-chevron-down-16.png");
    background-position: right 8px center;
    background-repeat: no-repeat;
  }
}

label {
  font-size: 12px;
}

.recalculating{
  opacity: 1.0;
}

#cite {
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 12px;
  float: left;
  background: rgba(255, 255, 255, 0.7);
}

#dft {
  margin-bottom: 10px;
}

.htab  {
  font-size: 12px;
}

/* Absolute Center Spinner */
#loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */


/* :not(:required) hides these rules from IE9 and below */
#loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

#loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 1.5em 0 0 0, rgba(0, 0, 0, 0.25) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.25) 0 1.5em 0 0, rgba(0, 0, 0, 0.25) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.25) 0 -1.5em 0 0, rgba(0, 0, 0, 0.25) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.25) 1.5em 0 0 0, rgba(0, 0, 0, 0.25) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.25) 0 1.5em 0 0, rgba(0, 0, 0, 0.25) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.25) -1.5em 0 0 0, rgba(0, 0, 0, 0.25) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.25) 0 -1.5em 0 0, rgba(0, 0, 0, 0.25) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
Add CSS for tables. Taken from:
https://onlinecourses.science.psu.edu/statprogram/markdown
*/

.region_stats_table th {
  background-color:#E0E0E0 ;
  border-bottom:1px solid black;
  padding:5px;
}
.region_stats_table td {
  border-bottom:1px dotted black;
  padding:5px;
}
.region_stats_table table{
  border-collapse:collapse;
  border: 1px solid black;
}