[Unit]
Description=ShinyServerSHINYN

[Service]
Type=simple
ExecStart=/usr/bin/env bash -c '/opt/shiny-server/bin/shiny-server /etc/shiny-server/shiny-server-SHINYN.conf >> /var/log/shiny-server-SHINYN.log 2>&1'
KillMode=process
ExecReload=/usr/bin/env kill -HUP $MAINPID
ExecStopPost=/usr/bin/env sleep 5
Restart=on-failure
RestartSec=1
StartLimitInterval=45
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
