[Unit]
Description=shiny-serverSHINYN

[Service]
TimeoutStartSec=10
ExecStart=/bin/bash -c '/opt/shiny-server/bin/shiny-server --pidfile=/var/run/shiny-server-SHINYN.pid /etc/shiny-server/shiny-server-SHINYN.conf >> /var/log/shiny-server-SHINYN.log 2>&1'
# Needed to give SS a chance to write out to the PID file.
ExecStartPost=/bin/sleep 3
PIDFile=/var/run/shiny-server-SHINYN.pid
Type=simple

Environment="LANG=en_GB.UTF-8"
ExecReload=/bin/kill -HUP $MAINPID
ExecStopPost=/bin/sleep 5
RestartSec=1


[Install]
WantedBy=multi-user.target
